In [67]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.tree import DecisionTreeClassifier

In [68]:
df  = pd.read_csv('heart.csv')
df.head()

   Age Sex ChestPainType  ...  Oldpeak  ST_Slope  HeartDisease
0   40   M           ATA  ...      0.0        Up             0
1   49   F           NAP  ...      1.0      Flat             1
2   37   M           ATA  ...      0.0        Up             0
3   48   F           ASY  ...      1.5      Flat             1
4   54   M           NAP  ...      0.0        Up             0

[5 rows x 12 columns]

In [69]:
le = LabelEncoder()
dfle = df
dfle.Sex = le.fit_transform(df.Sex)
dfle.RestingECG = le.fit_transform(df.RestingECG)
dfle.ExerciseAngina = le.fit_transform(df.ExerciseAngina)
dfle.ST_Slope = le.fit_transform(df.ST_Slope)
dfle.ChestPainType = le.fit_transform(df.ChestPainType)
dfle.head()

   Age  Sex  ChestPainType  ...  Oldpeak  ST_Slope  HeartDisease
0   40    1              1  ...      0.0         2             0
1   49    0              2  ...      1.0         1             1
2   37    1              1  ...      0.0         2             0
3   48    0              0  ...      1.5         1             1
4   54    1              2  ...      0.0         2             0

[5 rows x 12 columns]

In [70]:
X = df.drop('HeartDisease', axis='columns')
X.head()

   Age  Sex  ChestPainType  RestingBP  ...  MaxHR  ExerciseAngina  Oldpeak  ST_Slope
0   40    1              1        140  ...    172               0      0.0         2
1   49    0              2        160  ...    156               0      1.0         1
2   37    1              1        130  ...     98               0      0.0         2
3   48    0              0        138  ...    108               1      1.5         1
4   54    1              2        150  ...    122               0      0.0         2

[5 rows x 11 columns]

In [71]:
y = df.HeartDisease

In [72]:
scale = StandardScaler()
X_scale =  scale.fit_transform(X)
X_scale

array([[-1.4331398 ,  0.51595242,  0.22903206, ..., -0.8235563 ,
        -0.83243239,  1.05211381],
       [-0.47848359, -1.93816322,  1.27505906, ..., -0.8235563 ,
         0.10566353, -0.59607813],
       [-1.75135854,  0.51595242,  0.22903206, ..., -0.8235563 ,
        -0.83243239,  1.05211381],
       ...,
       [ 0.37009972,  0.51595242, -0.81699495, ...,  1.21424608,
         0.29328271, -0.59607813],
       [ 0.37009972, -1.93816322,  0.22903206, ..., -0.8235563 ,
        -0.83243239, -0.59607813],
       [-1.64528563,  0.51595242,  1.27505906, ..., -0.8235563 ,
        -0.83243239,  1.05211381]])

In [73]:
X_train, X_test, y_train, y_test = train_test_split(X_scale,y,stratify=y,random_state=10)

In [74]:
cross_val_score(RandomForestClassifier(), X, y, cv =5).mean()

0.8169458303635068

In [75]:
cross_val_score(DecisionTreeClassifier(), X, y, cv =5).mean()

0.7449988120693751

In [76]:
bag_model = BaggingClassifier(
    estimator= DecisionTreeClassifier(),
    n_estimators=100,
    max_samples=0.8,
    oob_score=True,
    random_state=0
)
cross_val_score(bag_model, X, y, cv =5).mean()

0.8027619387027798

In [77]:
cross_val_score(SVC(), X, y, cv =5).mean()

0.6840579710144927

In [78]:
bag_model = BaggingClassifier(
    estimator= SVC(),
    n_estimators=100,
    max_samples=0.8,
    random_state=0
)
cross_val_score(bag_model, X, y, cv =5).mean()

0.6873129009265859