In [111]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
%matplotlib inline
from sklearn.model_selection import train_test_split

Import Dataset (.csv file)

In [112]:
df = pd.read_csv('RealEstate_California.csv')
df.head()

,Unnamed: 0,id,stateId,countyId,cityId,country,datePostedString,is_bankOwned,is_forAuction,event,...,parking,garageSpaces,hasGarage,levels,pool,spa,isNewConstruction,hasPetsAllowed,homeType,county
0,0,95717-2087851113,9,77,24895,USA,2021-01-13,0,0,Listed for sale,...,0,0.0,0,0,0,0,0,0,LOT,Placer County
1,1,94564-18496265,9,189,36958,USA,2021-07-12,0,0,Listed for sale,...,1,2.0,1,One Story,0,0,0,0,SINGLE_FAMILY,Contra Costa County
2,2,94564-18484475,9,190,36958,USA,2021-07-08,0,0,Listed for sale,...,1,2.0,1,One Story,0,0,0,0,SINGLE_FAMILY,Contra Costa County
3,3,94564-18494835,9,191,36958,USA,2021-07-07,0,0,Listed for sale,...,1,1.0,1,Two Story,0,1,0,0,SINGLE_FAMILY,Contra Costa County
4,4,94564-2069722747,9,192,36958,USA,2021-07-07,0,0,Listed for sale,...,0,0.0,0,0,0,0,0,0,LOT,Contra Costa County

In [113]:
df.shape

(35389, 39)

In [114]:
df = df[df['pricePerSquareFoot'] != 0]

Drop unwanted data columns from the dataset

In [115]:
df.drop(df.columns[df.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
dataset = df.drop(['id','time','zipcode','stateId','countyId','country','datePostedString','is_forAuction','is_bankOwned','event','description', 'streetAddress','state','cityId','longitude','latitude', 'hasBadGeocode', 'currency','livingAreaValue','hasPetsAllowed','county','pool','spa','garageSpaces','hasGarage','levels','homeType','isNewConstruction','livingArea','lotAreaUnits','buildingArea'], axis = 'columns')

dataset.head()

,price,pricePerSquareFoot,city,yearBuilt,bathrooms,bedrooms,parking
1,675000.0,404.0,Pinole,1958,2.0,3.0,1
2,649000.0,459.0,Pinole,1959,2.0,3.0,1
3,599000.0,448.0,Pinole,1908,2.0,3.0,1
5,575000.0,407.0,Pinole,1958,2.0,3.0,1
6,888000.0,390.0,Pinole,2000,3.0,5.0,1

In [116]:
dataset.shape

(28203, 7)

In [117]:
dataset.isna().sum()

price                 0
pricePerSquareFoot    0
city                  0
yearBuilt             0
bathrooms             0
bedrooms              0
parking               0
dtype: int64

In [118]:
dataset['bedrooms'] = dataset['bedrooms'].apply(lambda x : int(x))
dataset['bathrooms'] = dataset['bathrooms'].apply(lambda x : int(x))
dataset['pricePerSquareFoot']  = dataset['pricePerSquareFoot'].apply(lambda x : int(x))

In [119]:
dataset.pricePerSquareFoot.unique()

array([ 404,  459,  448, ..., 1885, 6346, 2225], dtype=int64)

In [122]:
dataset.bedrooms.unique()

array([ 3,  5,  1,  2,  4,  0,  6,  7,  8,  9, 11, 13, 56, 80, 30, 50, 14,
       10, 18, 12, 24, 82, 15, 21, 17, 32, 16], dtype=int64)